:root {
  --black-700: #000;
  --blueGradiant: #3b2a9f;
  --primary-50: #6854d6;
  --primary-300: #322966;
}
.bg-blueG{
  background-color: var(--blueGradiant);
}
.bg-pri50{
  background-color: var(--primary-50);
}
.bg-pri300{
  background-color: var(--primary-300);
}
* {
  box-sizing: border-box;
}

input[type=radio]{
  accent-color: #FF5733;

}
